:root {
    --gameBackground: #C89F;
    --playerBackground:  #B45C;
    --wordColor: black;
    --gridBack: #B36A5E;
    --buttons: #FFFFFC;
    --boxes: #EEE2DF;
}
.night-theme {
    --gameBackground:  #1A1423;
    --playerBackground: #774C60;
    --wordColor: #EACDC2;
    --gridBack: var(--primaryPlayerBackground);
    --buttons: #FFFFFC;
    --boxes: #EEE2DF;
}
.day-theme {
    --gameBackground: #FEC89A;
    --playerBackground:  #FCD5CE;
    --wordColor: black;
    --gridBack: #FFB5A7;
    --buttons: #FFB5A7;
    --boxes: #F8EDEB;
}
body {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    color: var(--wordColor);
}
button {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
.player-section {
    height: 100vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--playerBackground);
}
.player-icon {
    margin: 3vh;
    height: 28vh;
}
.wins-container {
    margin-top: 7vh;
    height: 18vh;
    width: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 66px;
    background-color: var(--buttons);
}
.main-banner {
    height: 30vh;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.sun-moon {
    height: 20vh;
}
.play-button {
    border: none;
    height: 5vh;
    width: 15vw;
    border-radius: 20px;
    background-color: var( --buttons);
}
.turn-indicator {
    font-size: 36px;
    font-weight:bolder;
}
.play-instruction {
    text-align: center;
}
.game {
    height: 100vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--gameBackground);
}
.grid {
    height: 60vh;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: var(--gridBack);
}
.box{
    background-color: var(--boxes);
    border: none;
}
.box:hover {
    border: solid whitesmoke;
}
.game-token {
    height: 75px;
}
.reset-game-button {
    border: none;
    height: 4vh;
    width: 10vw;
    border-radius: 20px;
    background-color: var( --buttons);
}
.disabled {
    cursor: none;
}
.hidden {
    display: none;
}