
body {
    display: flex;
    font-family: 'Montserrat', sans-serif;
}
button {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

/* player sections */
.player-section {
    height: 100vh;
    width: 20vw;
    background-color: #B45C;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.player-icon {
    margin: 3vh;
    height: 28vh;

}
.wins-container {
    background-color: #FFFFFC;
    margin-top: 7vh;
    height: 18vh;
    width: 18vw;
    border-radius: 66px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* game section */
.main-banner {
    width: 95%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.sun-moon {
    height: 20vh;
}
.play-button {
    border: none;
    width: 15vw;
    height: 5vh;
    border-radius: 20px;
    background-color: #FFFFFC;
}
.turn-indicator {
    font-size: 36px;
    font-weight:bolder;
}
.play-instruction {
    text-align: center;
}
.game {
    height: 100vh;
    width: 60vw;
    background-color: #C89F;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.grid {
    background-color: #B36A5E;
    height: 60vh;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
}
.box{
    background-color: #EEE2DF;
    border: none;
}
.game-token {
    height: 75px;
}
.disabled {
    cursor: none;
    /* turn cursor into icon? */
}
.hidden {
    display: none;
}